body{
    background-color: red;
}

.nav-link{
    font-weight: lighter;
}

.nav-link:hover{
    font-weight: bolder;
    background-color: #eee;
}

header{
    height: 600px;
    width: 100%;
    background-image: url("redcheckers");
    background-size: cover;
    text-align: center;
    font-family: 'Faster One', cursive;
    font-size: x-large;
}

header p{
    font-style: italic;
}

.aboutus{
    text-align: center;
    font-family: 'Faster One', cursive;
}

hr{
    background-color: black;
}

.aboutus i{
    font-size: 30px;
    padding:25px 20px;
    
    /*change the color*/
     color: #FF6347;
    background-color: #fff;
    
    /*resize the container of icon*/
    width: 80px;
    height: 80px;
    
    /*make the container round*/
    border-radius: 50%;
}

.aboutus span{
    width: 200px;
    display: inline-block;
}

.team{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    font-family: 'Faster One', cursive;
}

.team img{
    width: 250px;
    height: 250px;
    /*Object fit will crop and center image based on width and height*/
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 50px;
}